<% if signed_in? %>
  <div class="row">
    <div class="span6 offset1">
      <h3>Feedback for Me</h3>
      <%= render 'shared/feed' %>
      <h3>Speeches to Critique</h3>
      <%= render 'shared/feed' %>
    </div>
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <p/><p/>
        <h4>Continue with Lesson 4...</h4>
        <p/><p/>
      </section>
      <section>
        <h4>Upload your speech</h4>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Sample App</h1>

    <h2>
      This is the home page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
