<% if signed_in? %>
  <div class="row">
    <div class="span6 offset1">
      <h3>Feedback for Me</h3>
      <%= render 'shared/my_items' %>
      <h3>Speeches to Critique</h3>
      <%= render 'shared/feed' %>
    </div>
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <p/><p/>
        <h4>Continue with Lesson 4...</h4>
        <p/><p/>
      </section>
      <section>
        <h4>Upload your speech</h4>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Podium Pro</h1>

    <h2>
      Need help with public speaking? Give us a video, and we'll do the rest.
    </h2>
    <h2>
      Already a pro and want to help out? Great! We and everyone here will love you forever.
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>
