<% if signed_in? %>
  <div class="row">
    <div class="span6 offset1">
      <h3>My Speeches</h3>
      <% if @my_items.any? %>
        <%= render 'shared/my_items' %>
      <% else %>
        <p>You have no speeches with feedback</p>
      <% end %>

      <hr>
      
      <h3>Speeches to Critique</h3>
      <% if @feed_items.any? %>
        <%= render 'shared/feed' %>
      <% else %>
        <p>None of the people you're following have new speeches</p>
      <% end %>
    </div>
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <br/>
        <h4>Improve your skills</h4>
        <%= link_to "Lesson One", lesson_path(id: 1, chapter: 1), 
          class: "btn btn-large btn-primary" %>
        <br/><br/>
      </section>
      <section>
        <h4>Upload your speech</h4>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Podium Pro</h1>
    <h2>
      <br/>
      Need help with public speaking?<br/>Give us a video - we'll do the rest.
    </h2>
    <h2>
      Already a pro and want to help out?  Great!<br/>We and everyone here will love you forever.
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>
