<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :youtube_id, placeholder: "Youtube link..." %>
  </div>
  <div class="dropdown">
    <%= f.select :lesson_id, options_from_collection_for_select(Lesson.all, :id, :title) %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Tell us about your speech..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
