<% provide(:title, @user.name) %>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>

<script type="text/javascript">
  var micropost_id = "<%= @micropost.id %>";
  var video_key = "<%= @micropost.youtube_id %>";

  var params = { allowScriptAccess: "always" };
  var atts = { id: "player_" + micropost_id };

  swfobject.embedSWF("http://www.youtube.com/v/" + video_key + "?enablejsapi=1&",
                     micropost_id, "610", "356", "8", null, null, params, atts);
</script>

<script type="text/javascript">
  var createCritique = function(type, positive) {
    document.getElementById("output").innerHTML += "making ajax call" + "<br />";

    $.ajax({
      url : "<%= critiques_path %>",
      data : { type : type,
               id : "<%= @micropost.id %>",
               positive : (positive === "true"),
               seconds : getTime("player_<%= @micropost.id %>")},
      type : "POST",
      dataType : "script"
    });
  }

  var createNotesCritique = function() {

    if($("#notes").val()) { // only go if there's text to submit
      $.ajax({
        url : "<%= critiques_path %>",
        data : { type : "text",
                 comment : $("#notes").val(),
                 id : "<%= @micropost.id %>",
                 positive : null,
                 seconds : getTime("player_<%= @micropost.id %>")},
        type : "POST",
        dataType : "script"
      });
    }
    
  }

  var getTime = function(id) {
    document.getElementById("output").innerHTML += id + "<br />";

    var player = document.getElementById(id);

    document.getElementById("output").innerHTML += player.getCurrentTime() + "<br />";

    return player.getCurrentTime();
  }
</script>

<script type="text/javascript">
  var jumpToTime = function(seconds, player_id) {
    document.getElementById("output").innerHTML += parseInt(seconds) + "<br />";

    var player = document.getElementById(player_id);

    player.seekTo(parseInt(seconds), true);
  }
</script>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @author %>
        <!-- <%= @author.name %> -->
        <%= link_to @author.name, user_path(@author) %>
      </h1>
    </section>
  </aside>


  <div class="span8">
    <h3><%= @micropost.title %></h3>
  </div>
</div>

<div class="row">
  <div class="span8">
    <span>
      <p><%= @micropost.content %></p>
    </span>
  </div>
</div>

<div class="row">


  <div class="span8">
    <span id= "<%= @micropost.id %>" class="content">
      <p>No Flash!</p>
    </span>
  </div>

<!-- only show critique buttonsif it's not your vide -->
<% if @micropost.user != @user %>

  <div class="span2">
    <h4 align="center">Positive:</h4>
    
    <div class="btn-group btn-group-vertical">

      <%= link_to_function "Diction", "createCritique(\"diction\", \"true\")", class: "btn btn-small btn-success" %>
      
      <%= link_to_function "Posture", "createCritique(\"posture\", \"true\")", class: "btn btn-small btn-success" %>
      
      <%= link_to_function "Pacing", "createCritique(\"pacing\", \"true\")", class: "btn btn-small btn-success" %>
      
      <%= link_to_function "Voice", "createCritique(\"voice\", \"true\")", class: "btn btn-small btn-success" %>
      
      <%= link_to_function "Body Language", "createCritique(\"body language\", \"true\")", class: "btn btn-small btn-success" %>
      
      <%= link_to_function "Facial Expression", "createCritique(\"facial expression\", \"true\")", class: "btn btn-small btn-success" %>
      
      <%= link_to_function "Transition", "createCritique(\"transition\", \"true\")", class: "btn btn-small btn-success" %>
    </div>
  </div>

  <div class="span2">
    <h4 align="center">Critical:</h4>
     
    <div class="btn-group btn-group-vertical">
      <%= link_to_function "Diction", "createCritique(\"diction\", \"false\")", class: "btn btn-small btn-danger" %>
      
      <%= link_to_function "Posture", "createCritique(\"posture\", \"false\")", class: "btn btn-small btn-danger" %>
      
      <%= link_to_function "Pacing", "createCritique(\"pacing\", \"false\")", class: "btn btn-small btn-danger" %>
      
      <%= link_to_function "Voice", "createCritique(\"voice\", \"false\")", class: "btn btn-small btn-danger" %>
      
      <%= link_to_function "Body Language", "createCritique(\"body language\", \"false\")", class: "btn btn-small btn-danger" %>
      
      <%= link_to_function "Facial Expression", "createCritique(\"facial expression\", \"false\")", class: "btn btn-small btn-danger" %>
      
      <%= link_to_function "Transition", "createCritique(\"transition\", \"false\")", class: "btn btn-small btn-danger" %>
    </div>
  </div>
</div>

<div class="row">
  <br />
  <div class="span6">
    <%= text_area_tag "notes", nil, placeholder: "Have a little more to say, add a note..." %>
  </div>

  <div class="span2">
    <%= link_to_function "Post!", "createNotesCritique()", class: "btn btn-medium btn-primary" %>
  </div>
</div>

<% end %>

<div class="row">
  <div class="span12">
    <hr>
    <h3>My Critiques:</h3><br />
    <table class="table table-striped" >
      <thead>
        <tr>
          <th>Time</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody id="comments">
        <% @comments.each do |comment| %>
          <tr>
            <%= render comment %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
